@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap%27'); 

.container-fluid {
  font-family: 'Anton';
  background-color: #151C35;
}

.nav-item {
  font-size: 20px;
  padding-left: 40px;
}

.logo-image {
  width: 80px;
  top: 0px;
}

.bg {
  background-color: #151C35;
}

#games_section {
  background-color: #151C35;
  margin: 10px;
}

#main_content {
  margin: 50px 20px;
}

.avaliacoes {
  font-size: 13px;
  margin: 0px 1px 12px
}

.catalogo {
  font-size: 55px;
  color: white;
  font-family: 'anton';
  margin-top: -15px;
}

.letra {
  color: orange;
}

.estrela {
  font-size: 25px;
  margin-top: 0px;
  color: yellow;
}

.card_content {
  margin: 10px;
  color: white;
}

.categorias {
  text-decoration: none;
  display: block;
  width: 93%;
  height: 40px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: white;
  border: 1px solid rgba(61, 61, 61, 0);
  background-color: #273257;
  font-family: 'Anton';
}

.categorias:hover {
  background-color: #3c4973;
}

.selected {
  background-color: #48588a;
}

.persona {
  width: 500px;
}

.card_instance {
  background-color: #273257;
  margin: 20px 0px 0px 0px;
  min-height: 320px;
  transition: all .3s;
  box-shadow: 0px 0px 10px 1px rgba(18, 25, 41, 0.9);
  border-radius: 5px 5px 0px 0px;
}

#card_row {
  padding: 0px 20px;
}

.game_image_div {
  border-radius: 5px;
  display: flex;
  background-size: cover;
  background-position: center;
  height: 170px;
}


#card_efeito {
  transition: .3s;
}

#card_efeito:hover {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.cursor_ponteiro  {
  cursor: pointer;
  min-width: 300px;
}

.card_avaliacao {
  background-color: #273257;
  margin: 0px 0px 0px 0px;
  transition: all .3s;
  box-shadow: 0px 0px 10px 1px rgba(18, 25, 41, 0.9);
  border-radius: 0px 0px 5px 5px;}

.link{
  text-decoration: none;
}

.descricao {
  text-align: justify;
  font-size: 13px;
  padding-bottom: 10px;
  margin: 0px;
  color:  #ebecef;
}

p{
  text-align: center;
  color: white;
}
