@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@900&display=swap');

.container-fluid {
  font-family: 'Anton';
  background-color: #151C35;
}

.nav-item {
  font-size: 20px;
  padding-left: 40px;
}

.logo-image {
  width: 80px;
  top: 0px;
}

.bg {
  background-color: #151C35;
}

#nome {
  color: white;
}

.text-center {
  color: white;
}

.title {
  font-family: 'Anton';
  margin-top: 40px;

}

.title .btn-comece-aqui {
  display: flex;
  justify-items: flex-start;
}

.title h1 {
  font-family: 'Anton';
  font-size: clamp(25px, 5vw, 55px);
}

.rpg_mesa_content {
  text-align: justify;
  font-size: 20px;
  margin: 30px 110px;
  padding: 50px 40px;
  background-color: #151C35;
  font-family: 'Lato';
  color: rgba(255, 255, 255, 0.938);
}

.imagem_rpg_mesa {
  width: 190px;
}

.imagem_centro {
  width: 600px
}

.btn-comece-aqui {
  color: rgba(255, 255, 255, 0.863);
  padding: 7px 20px 0;
  margin: 40px 0 0 120px;
  border: 1px solid transparent;
  height: 45px;
  text-decoration: none;
  background-color: #293049;
  cursor: pointer;
  font-family: 'Anton';
  border-radius: 5px
}

.btn-comece-aqui:hover {
  color: rgba(255, 255, 255, 0.863);
  background-color: rgb(133, 133, 133);
  border: 1px solid transparent;
  text-decoration: none;
}

.persona {
  width: 500px;
  margin-right: 0px;

}

.agora {
  font-size: clamp(20px, 5vw, 50px);
  justify-content: space-between;
  font-family: 'Anton';
}

.letra {
  color: orange;
}

.oque-e-titulo {
  font-family: 'Anton';
  font-size: clamp(20px, 5vw, 50px);
}

.oque-e-titulo p {
  font-size: clamp(20px, 3vw, 40px);
}

.como-funciona-titulo {
  font-family: 'Anton';
  font-size: clamp(20px, 5vw, 50px);
}

.como-funciona-titulo p {
  font-size: clamp(20px, 3vw, 40px);
}

.botao a {
  cursor: pointer;
  background-color: rgb(228, 164, 86);
  padding: 10px 18px;
  text-decoration: none;
  color: white;
  margin-right: 0px;
  margin-top: 0px;
  border-radius: 5px;
  font-size: 22px;
  font-family: 'Anton';

}

.botao a:hover {
  background-color: rgb(226, 143, 42);
  color: black;
}


@media(max-width: 1000px) {


  .botao a {
    margin-right: 0px;
  }

  .btn-comece-aqui {
    margin: 40px 0 0 120px;
  }

  .persona {
    width: 90%;
    margin-right: 0px;
  }
}



@media(max-width: 850px) {
  .rpg_mesa_content {
    width: 100%;
    margin: 0;
  }

  .btn-comece-aqui {
    visibility: hidden;
  }
}

@media(max-width: 660px) {

  .botao {
    display: none;
  }

  .persona {
    display: none;
  }
}