@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap%27'); 

.container-fluid {
  font-family: 'Anton';
  background-color: #151C35;
}

.main-content {
  margin: 150px 140px;
}

#nome{
  color: white;
}

.logo-image {
  width: 80px;
  top: 0px;
}

.bg {
  background-color: #151C35;
}

.comeceagora {
  cursor:pointer;
  font-family: 'Anton';
  font-size:22px;
  padding:10px 15px;
  color: white;
  background-color: rgb(228, 164, 86);
  margin-top: 130px;
  margin-right: 280px;
}

.font-family-anton{
  font-family: 'Anton'; 
}

.letra{
  color: orange;
}

.nav-item{
  font-size: 20px;
  padding-left: 40px;
}

.boas-vindas{
  font-size: 70px;
  width: 500px;
  height: 133px;
  left: 66px;
  top: 120px;
}

.guia {
  width: 580px;
  height: 27px;
  left: 49px;
  top: 388px;
  text-align: left;

}