@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap%27'); 

.container-fluid {
  font-family: 'Anton';
  background-color: #151C35;
}
.nav-item{
  font-size: 20px;
  padding-left: 40px;
}

.logo-image {
  width: 80px;
  top: 0px;
}

.bg{
  background-color: #151C35;
}

#nome {
  color: white;
}

.title {
  margin-top: 40px;
}

.title h1 {
  font-size: 55px;
}

.about_us_content {
  text-align: justify;
  font-size: 20px;
  margin: 30px 110px;
  padding: 50px 40px;
  background-color: #151C35;
  color: rgba(255, 255, 255, 0.863);
}

.imagem_sobre_nos {
  width: 190px;
}

.imagem_centro {
  width: 600px
}

.text-center{
  color: white;
}

.sobrenos{
  font-family: 'anton';
}

.letra{
  color: orange;
}